@font-face {
  font-family: 'Mothanna';
  font-style: normal;
  font-weight: 400;
}

*{
	box-sizing: border-box;
	scroll-behavior: smooth !important;
	position: relative;
	font-family: monospace;
}

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.forms {
    transition: 0.5s all;
    width: 275px;
    height: 400px;
    margin: auto;
    top: 100px;
    border-radius: 7px;
    padding: 10px;
    display: grid;
    /*place-content: center;*/
    place-items: center;
    overflow: hidden;
}

.form {
    width: 100%;
    background: white;
    transition: 0.8s all;
    height: 308px;
}

.input_field {
    width: 100%;
}

.input_field input {
    width: 100%;
    height: 30px;
    background: none;
    border: 0;
    border-bottom: 0.1px solid;
    padding: 4px;
    margin-bottom: 14px;
    cursor: pointer;
    outline: none;
    transition: 0.9s all;
    padding-bottom: 0px;
}

.input_field label {
    position: absolute;
    left: 4px;
    top: 22%;   
    font-size: 15px;
    pointer-events: none;
    transition: 0.6s all;
}

.input_field input:focus ~ label, .input_field input:valid ~ label{
    top: -2px;
    left: 0;
    color: blue;
    font-size: 10px;
}

.input_field input:focus{
	padding-left: 6px;
}

.form button {
    border: none;
    background: none;
    outline: none;
    width: 150px;
    height: 30px;
    display: block;
    margin: auto;
    cursor: pointer;
    border-bottom:1px solid;
}

.form button:before {
    content: '';
    width: 0%;
    height: 100%;
    background: orange;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    border-radius: 4px;
    transition: 0.5s all;
}

@keyframes leftToright{
    0%{
        left: 0;
        width: 0%;
    }

    50%{
       left: 0;
       width: 100%; 
    }

    100%{
        left: 100%;
        width: 0%;
    }
}

.form button:hover:before{
	/*width: 100%;*/
    animation: leftToright 0.7s forwards;
}

.form button:hover{
    border-bottom: 0;
}

.form h1 {
    font-size: 20px;
}

h1.form_title {
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social_media_icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons a {
    width: 30px;
    height: 30px;
    display: flex;
    text-decoration: none;
    color: white;
    background: orange;
    border: 3px solid orange;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.7s all;
}

.icons a:hover{
	background: white;
	color: orange;
} 

form.rigister.form {
    background: transparent;
    background-image: linear-gradient(to left, #ffa50069 10%, #ff450054 60%);
    border-radius: 10px;
    padding: 0px 5px;
}

form.rigister.form.active {
    background: transparent;
    height: 56px;
    overflow: hidden;
    border-bottom: 5px solid orange;
    border-radius: 100%;
}

form.rigister.form.active + form.signIn.form{
	height: 400px;
    overflow: hidden;
    background: white;
    border: 0px;
    border-radius: 0px;
}

form.signIn.form {
    height: 50px;
    border-top: 4px solid white;
    border-radius: 12%;
}

.model {
    background: white;
    color: black;
    width: 270px;
    min-height: 150px;
    z-index: 99;
    border-radius: 7px;
    position: absolute;
    padding: 0 10px;
    box-shadow: 3px -2px 120px -1px grey;
    flex-direction: column;
}

.model p{
    display: block;
    cursor: pointer;
    text-decoration: right;
    font-size: 15px;
}

.model .message h1 {
    font-size: 17px;
    text-align: center;
    width: 100%;
}

.srength {
    width: 100%;
    height: 5px;
    margin-bottom: 1.5px;
    display: grid;
    grid-template-columns: repeat(3,calc(100% / 3));
}

.srength span {
    display: block;
    height: 100%;
    margin-right: 1.2px;
    border-radius: 17px;
    width: 0%;
    transition: 0.8s all;
}
.srength span.weak{
    background: red;
}

.srength span.medium{
background: yellow;
}

.srength span.strong{
background: green;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/